html,
body {
  margin: 0;
  margin-bottom: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

/* Header */
.header {
  width: 100vw;
  background-color: #242526;
  box-shadow: 0 0 8px 2px rgb(82, 81, 81);
  color: white;
  top: 0;
  height: auto;
  position: sticky;
  z-index: 10;
}

.content-header {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.content-header .logo i,
.content-header .shopping-car i {
  color: white;
  font-size: 60px;
  margin-top: 10px;
  cursor: pointer;
}

.content-header .search {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 30%;
}

.content-header .search i {
  color: white;
  font-size: 40px;
  margin-top: 22px;
  margin-right: 5px;
}

.content-header .search input {
  height: 40px;
  border-radius: 15px;
  margin-top: 20px;
  font-size: 20px;
  width: 100%;
}

/* Footer */
.footer {
  position: fixed;
  width: 100vw;
  height: auto;
  background-color: #242526;
  color: white;
  bottom: 0;
  text-align: center;
  margin-top: 10px;
}
.content {
  width: 95%;
  margin: auto;
}
/* Slider - 1 */

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider img {
  width: auto;
  height: 65vh;
}

.content-button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.content-button button {
  background-color: #44c767;
  border-radius: 17px;
  border: 3px solid #18ab29;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 28px;
  padding: 15px 22px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  cursor: pointer;
}

.content-button button:hover {
  background-color: #5cbf2a;
}

/* Categories - 2 */

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.categories .category {
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
}

.categories .category:hover {
  transform: scale(1.05);
}

.categories .category .category-content {
  width: 230px;
  height: 160px;
}

.categories .category h1 {
  padding-top: 50px;
  color: yellow;
  font-size: 35px;
}

/* Products - 3 */

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.products .product-card {
  border: 1px solid gray;
  width: 350px;
  margin: 5px 15px 15px 10px;
  text-align: center;
  border-radius: 10px;
}

.products .product-card:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.87);
}

.products .product-card img {
  width: 200px;
  height: auto;
  text-align: center;
}

.products-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 20px;
}

.products-header button {
  background-color: #44c767;
  border-radius: 17px;
  border: 3px solid #18ab29;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 26px;
  padding: 5px 10px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  cursor: pointer;
}

.products-header button:hover {
  background-color: #5cbf2a;
}

/* Sidebar  */

.product-list {
  /* display: grid;
  grid-template-columns: 350px auto;
  justify-items: stretch; */
  display: flex;
  flex-flow: row wrap;
  height: 90vh;
}

.product-list-left {
  background-color: #242526;
  width: 200px;
  padding: 20px 10px;
  text-align: center;
  color: white;
  position: sticky;
  margin-right: 10px;
}

.product-list-right {
  width: 80%;
}

.btn-sidebar {
  margin-top: 20px;
}

.btn-sidebar button {
  width: calc(200px - 30px);
  background-color: transparent;
  border: none;
  color: white;
  padding: 15px 0;
  font-size: 28px;
  cursor: pointer;
}

.btn-sidebar button:hover {
  background-color: #44c767;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading img{
  width: 300px;
}
.pagination {
  margin-top: 20px;
  margin-bottom: 80px;
}